name: Main Workflow
on:
  workflow_dispatch:
  push:
    branches: ["main", "master"]
  schedule:
  - cron: '* * * * *'
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.TOKEN }}
          user: TurnipGuy30
          repo: Flask
          template: repository
